@import 'default/default';
@import 'partials/pojoro';
@import 'partials/experience';
@import 'layout/page';
@import 'partials/header';
@import 'partials/footer';

$main-color: map-get($color-block, purple);

header{
	@extend %position_relative;
	background: transparent url(../img/game.png) ;
  background-size: cover;
}

.header-content{
	background-color: rgba(141, 130, 196, 0.9);

	&:hover{
		background-color: rgba(141, 130, 196, 0.2);
	}
}

.footer{
	background-color: $main-color;
}

.contact{
	padding-top: 1em;
	text-align: center;
}

.section-title{
	h1{
		&:after{
			background-color: $main-color;
		}
	}
}

.section-board{
	&:before{
		border-color: $main-color transparent transparent $main-color;
	}

	&:after{
		border-color: transparent $main-color $main-color transparent ;
	}
	
	.circle{
		border-color: $main-color;
	}

	.board-img{
		background: url(../img/game_demo.png) no-repeat ;
		background-size: cover;
	}
}

@media (min-width: map-get($break-point, table-l)){
	.gogoGuide{
		.experience-close{
			color: $main-color;
		}
	}
}