@import 'default/default';
@import 'partials/pojoro';
@import 'partials/experience';
@import 'layout/page';
@import 'partials/header';
@import 'partials/footer';

$main-color: map-get($color-block, red-pink);

header {
  @extend %position_relative;
  background: transparent url(../img/simple-app.png);
  background-size: cover;
}

.header-content {
  background-color: rgba(236, 141, 129, 0.95);

  &:hover {
    background-color: rgba(236, 141, 129, 0.75);
  }
}

nav {
  h3 {
    &:nth-child(1) {
      border-right: solid 0px;
    }
  }
}

.section-title {
  h1 {
    &:after {
      background-color: $main-color;
    }
  }
}

.section-board {
  &:before {
    border-color: $main-color transparent transparent $main-color;
  }

  &:after {
    border-color: transparent $main-color $main-color transparent;
  }

  .circle {
    border-color: $main-color;
  }

  .board-img {
    background: url(../img/slotMachine.png) no-repeat;
    background-size: cover;
  }
}

#board-d3ForceSimple {
  background: url(../img/simple-app_demo.png) no-repeat;
  background-size: cover;

  &:hover {
    background-position: 30% 30%;
    background-size: 130%;
  }
}

#footer {
  background-color: $main-color;
}

/*
 * pojoro
 */
@media (min-width: map-get($break-point, table-l)) {
  .gogoGuide {
    .fa-icon {
      color: $main-color;
    }
  }

  #experience {
    box-shadow: 0 0 0 0.2em rgb(191, 92, 79),
      0 0 0.1em 0.55em rgba(228, 81, 62, 0.75),
      inset 0 0.2em 0 0 rgb(191, 63, 47);

    @include animation(eye-simple-app 2.2s ease-in-out infinite, pojoro-body 1.15s 1.8s linear infinite);
  }

  @include keyframes(eye-simple-app) {
    /* Eye movement */

    5%,
    10% {
      line-height: 1.2em;
      padding-left: 0em;
    }
    15%,
    20% {
      line-height: 1.15em;
      padding-left: 0.4em;
    }

    /* Eyelash movement */

    25% {
      box-shadow: 0 0 0 0.2em rgb(191, 92, 79),
        0 0 0.1em 0.55em rgba(218, 81, 52, 0.75),
        inset 0 0.2em 0 0 rgb(191, 63, 47);
    }
    23%,
    27% {
      box-shadow: 0 0 0 0.2em rgb(191, 92, 79),
        0 0 0.1em 0.55em rgba(218, 81, 52, 0.75),
        inset 0 0.2em 0 0 rgb(191, 63, 47);
    }
  }
}
