@import 'default/default';
@import 'layout/page';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/pojoro';

$main-color: map-get($color-block, green-pink);

header{
	@extend %position_relative;
	background: transparent url(../img/story.png) ;
  background-size: cover;
}

.header-content{
	background-color: rgba(135, 197, 164, 0.9);

	&:hover{
		background-color: rgba(135, 197, 164, 0.5);
	}
}

nav{
	h3{
		&:nth-child(1){
			border-right: solid 0px;
		}
	}
}
.footer{
	background-color: $main-color;
}

.contact{
	padding-top: 1em;
	text-align: center;
}

.section-title{
	h1{
		&:after{
			background-color: $main-color;
		}
	}
}

.section-board{
	&:before{
		border-color: $main-color transparent transparent $main-color;
	}

	&:after{
		border-color: transparent $main-color $main-color transparent ;
	}
	
	.circle{
		border-color: $main-color;
	}

	.board-img{
		background: url(../img/review2015.png) no-repeat ;
		background-size: cover;
	}
}

#board-happiness{
	background: url(../img/happiness.png) no-repeat ;
	background-size: cover;

	&:hover{
  	background-position: 30% 30%;
  	background-size: 130%;
  }
}