body {
  letter-spacing: map-get($letter-spacing, s);
}

header {
  margin-top: $nav-max-height;
  height: 32%;
  min-height: 230px;
  color: white;

  h1 {
    padding-left: 1em;
    letter-spacing: map-get($letter-spacing, m) + 4px;
  }

  p {
    padding-left: 1em;
    padding-right: 1em;
  }

  a {
    padding-left: 1em;
    font-size: 1.3em;
    width: 3em;
  }
}

.header-content {
  @extend %position_absolute;
  @include transition(all .2s linear);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: map-get($color-block, green);

  .icon-back {
    @include transition(all .5s linear);
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
    .icon-back {
      transform: scale(1.5);
      opacity: 1;
    }
  }
}

.section-title {
  @extend %board-title;
}

.section-content {
  ul {
    padding-left: 0.5em;
  }
}

.section-board {
  @extend %board-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;

  .board-img {
    @extend %position_relative;
    @include transition(all 0.2s ease-in);
    @include border-radius(25px);
    width: 90%;
    height: 30%;
    background-color: map-get($color-basic, white);
    overflow: hidden;

    &:hover {
      @include border-radius(0px);
      cursor: pointer;
      background-position: 30% 30%;
      background-size: 130%;
      box-shadow: inset 0px 0px 7px 5px rgba(42, 43, 42, 0.7);
    }
  }

  .board-content {
    width: 100%;
    text-align: center;
  }

  .board-link {
    @extend %position_relative;
    display: flex;
    justify-content: center;
    font-size: 2em;

    color: map-get($color-basic, gray-dark);

    &:before {
      content: '';
      position: absolute;
      width: 70%;
      height: 2px;
      top: -10px;
      left: 15%;

      background-color: map-get($color-basic, black-light);
    }

    a {
      padding: 0.2em 0.5em;
      color: map-get($color-basic, black-hard);
    }
  }
}

@media (min-width: map-get($break-point, table-l)) {
  nav {
    &.menu {
      display: none;
    }
  }
  header {
    margin-top: 0;
    h1 {
      padding-top: 1em;
      padding-left: 8%;
    }

    p {
      padding-left: 8%;
    }
    a {
      padding-left: 8%;
    }
  }

  .header-content {
    .icon-back {
      opacity: .5;
    }
  }

  .section-board {
    justify-content: flex-start;

    .board-img {
      width: 35%;
      height: auto;
      margin: 0px 10% 1em 5%;
    }

    .board-content {
      width: 35%;
      text-align: left;
    }

    .board-link {
      justify-content: flex-start;
      font-size: 1.8em;

      &:before {
        left: 0px;
      }

      a {
        padding: 0.5em;
        color: map-get($color-basic, gray-dark);

        &:hover {
          color: map-get($color-basic, black-hard);
        }
      }
    }
  }
}
@media (min-width: map-get($break-point, table-l)) {
  .gogoGuide {
    display: block;

    &.hover {
      > #experience {
        &:before,
        &:after {
          @include animation-duration(0.7s);
        }
      }
    }

    &:hover {
      > #experience {
        &:before,
        &:after {
          @include animation-duration(0.7s);
        }
      }
    }
  }

  #experience {
    &:before,
    &:after {
      @include animation-duration(1.2s);
    }
  }
}

@media (min-width: map-get($break-point, screen-s)) {
  header {
    height: 25%;
  }
}
