<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> WebExhibition - {{title}}</title>
  <link rel="stylesheet" href = "./dist/css/impact.css">
</head>
<body>
	{{> header}}

	<section class="wrap" >
		<div class="pojoro-box">
			<div id="experience" class="pojoro" onclick="window.location='index.html'"> ● </div>
			<p class="hint-text" id="hint-text">「點擊我」帶您飛回來的地方！</p>
		</div>
		<h3 class="color-green">「設計的本質在於解決問題。而對於網頁來說就是創造殺手級的體驗。」</h3>
		<p>期許未來，我可以設計出一個殺手級體驗的網站，成功解決問題。</p>
	</section>

	<section class="row section-content">
		<div data-0="opacity:0;" data-30p="opacity:1" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 section-part">
			<div class="left-bar"></div>
			<div class="top-date p-font-400 date-long">
				<p>2015.12 ~ 2016.01</p>
			</div>

			<div class="part-img-box">
				<div id = "review2015" class="part-img">
					<p>Review 2015</p>
				</div>
				<div id = "happiness" class="part-img">
					<p>幸福的定義</p>
				</div>
			</div>

			<div class="part-event">
				<p>
				FB貼文皆破百讚
					<br>
				觸及人數共超過14000人次	
				</p>
			</div>
		</div>

		<div data-bottom-top="opacity:0;" data-100-bottom-center="opacity:1" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 section-part">
			<div class="left-bar"></div>
			<div class="top-date p-font-400">
				<p>2016.03</p>
			</div>

			<div class="part-img-box">
				<div id="realtime-draw" class="part-img">
					<p>即時問卷系統</p>
				</div>
				<div id="draw-demo-video" class="part-img" onclick="window.open('https://www.youtube.com/watch?v=bUDkm9_4Q4k')">
					<p>Demo 影片(點擊圖片)</p>
				</div>
			</div>

			<div class="part-event">
				<p>
				在兩場活動中使用過皆大受好評。
					<br>
				即時分析問卷的資料，立即與觀眾互動一起看有趣的結果，讓資料的價值立刻顯現。
				</p>
				<p class="p-font-400">
					曾有廠商主動詢問未來系統合作可能性。
				</p>
			</div>
		</div>

		<div data-bottom-top="opacity:0;" data-100-bottom-center="opacity:1" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 section-part">
			<div class="left-bar"></div>
			<div class="top-date p-font-400">
				<p>2016.09</p>
			</div>

			<div class="part-img-box">
				<div id="theMosquitoMan" class="part-img" >
					<p>掌蚊人</p>
				</div>
				<div id="theMosquitoMan_game" class="part-img">
					<p>掌蚊宗師</p>
				</div>
			</div>

			<div class="part-event">
				<p>
				粉專人數突破800讚。
					<br>
				單篇貼文最高按讚接近600讚，分享次數高達300次，觸及人數高達30000人。
				</p>
				<p class="p-font-400">
					與台南市政府、成功大學合作推出手機APP，
						<br>
					與遠傳電信合作推出「掌蚊人@line」機器人服務。
				</p>
				<p class="p-font-400 color-green">
					在2016年透過民眾集力式回報與台南市政府合作，用智慧科技的力量在防疫上劃下一個重大里程碑。
				</p>

				<img src="./dist/img/impact_theMosquitoMan.jpg">
			</div>
		</div>

		<div data-bottom-top="opacity:0;" data-100-bottom-center="opacity:1" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 section-part">
			<div class="left-bar"></div>
			<div class="top-date p-font-400">
				<p>2016.11</p>
			</div>

			<div class="part-img-box">
				<div id="slotMachine" class="part-img">
					<p>抽獎機</p>
				</div>
			</div>

			<div class="part-event">
				<p>
				作為抽獎活動專用小程式，加入一點活潑可愛的元素。
					<br>
				目前正在研發讓使用者能夠輕易增減抽獎項目及號碼。
				</p>
			</div>
		</div>

		<div data-bottom-top="opacity:0;" data-100-bottom-center="opacity:1" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 section-part">
			<div class="left-bar"></div>
			<div class="top-date p-font-400">
				<p>2016.12</p>
			</div>

			<div class="part-img-box">
				<div id="proj-1999" class="part-img">
					<p>1999視覺化</p>
				</div>
			</div>

			<div class="part-event">
				<p>
				與台南市政府研究發展考核委員會合作，
					<br>
				將民眾陳情的1999案件做成視覺化圖表給人民檢驗與分析。
				</p>
			</div>
		</div>

		<div data-bottom-top="opacity:0;" data-bottom-bottom="opacity:1" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 section-end">
			<div class="left-bar"></div>
		</div>
	</section>

	
	{{> footer}}
</body>
<script src="./src/skrollr.js"></script>
<script type="text/javascript" src = "./dist/js/impact.js"></script>
</html>