<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> WebExhibition - {{title}}</title>
  <link rel="stylesheet" href = "./dist/css/impact.css">
</head>
<body>
	

</body>
	
	{{> footer}}

<!-- <script type="text/javascript" src = "./dist/js/impact.js"></script> -->
</html>