<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> WebExhibition - {{title}}</title>
  <link rel="stylesheet" href = "./dist/css/issue.css">
  <script type="text/javascript" src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
</head>
<body>

	<header>
		<div class="header-content">
			<h1>${header.title}</h1>
			<p class="p-font-400">${header.subTitle}</p>
			<a href="index.html"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
		</div>
	</header>

	<nav>
		<h3>掌蚊人</h3>
	</nav>

	<section>
		<div class="section-title">
			<h1 class="col-xs-6 col-md-2 col-md-offset-1">目標問題</h1>
		</div>

		<div class="row">
			<div class="section-content col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
				<p>登革熱災情在2015年重創台灣。</p>

				<p>
				但是<span class="p-font-400 color-blue">「防疫」</span>，需要家家戶戶一起來守護環境才可根除。
					<br>
				<span class="p-font-400">因此能否出現一個衛教網站教育民眾、呈現專業的即時資訊並且深入人心？</span>
				</p>
			</div>
		</div>

		<div class="section-title">
			<h1 class="col-xs-6 col-md-2 col-md-offset-1">如何思考</h1>
		</div>
		
		<div class="row">
			<div class="section-content col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
				<ul>
					<li>確認核心目標：「一個<span class="color-blue">親切</span>、帶有<span class="color-blue">專業</span>且<span class="color-blue">即時</span>的衛教資訊網站」</li>

					<li>希望透過有趣的方式，讓民眾不會覺的這是一些無聊的資訊，而是生動且富含意義。</li>

					<li>主視覺： 綠色代表「環境」，黃色代表「溫暖」。
					</li>

					<li class="p-font-400 color-blue">以「視差滾動」的技術方式述說一篇降蚊故事，並塑造全新人物「掌蚊人」</li>
				</ul>
			</div>
		</div>

		<div class="section-title">
			<h1 class="col-xs-6 col-md-2 col-md-offset-1">專案成果</h1>
		</div>

		<div class="row">
			<div class="section-board col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
				<div id="board-theMosquitoMan" class="board-img" onclick="window.open('//www.denguefever.tw');"></div>
				<div class="board-content">
					<h2>掌蚊人</h2>
					<p class="color-green">一場對抗登革熱的修煉</p>
					<br>
					<div class="link">
						<a href="//www.denguefever.tw" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
						<a href="https://github.com/TseHang/theMosquitoMan" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="circle"></div>
			</div>
		</div>

	</section>

	{{> gogoGuide}}

	<footer class="footer">
		{{> block-footer}}
	</footer>


</body>
{{> js-include}}
<script type="text/javascript" src="dist/js/block-issue.js"></script>
<script type="text/javascript">
	$('.gogoGuide').addClass('hover');	

	window.setTimeout(function(){
		$('.gogoGuide').removeClass('hover');
	},2000);
</script>

</html>