<!DOCTYPE html>

<html style="height:100%;width:100%;margin:0px;">

<head>
	{{> head}}

	<title> WebExhibition - {{title}}</title>
	<link rel="stylesheet" href="./dist/css/simple-app.css">
	<script type="text/javascript" src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
</head>

<body>
	{{> header}}
	<header>
		{{> block-header}}
	</header>

	<nav>
		<h3>抽獎系統</h3>
		<h3>即時回饋系統</h3>
	</nav>

	<section>
		<div class="section-title">
			<h1 class="col-xs-6 col-md-2 col-md-offset-1">目標問題</h1>
		</div>

		<div class="row">
			<div class="section-content col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
				<p>
					<span class="color-blue p-font-400">舉例：抽獎。</span>
					<br> 抽籤屬於網路上很基礎且常見的小程式，但卻因為功能簡單所以普遍上往往完成功能，卻忘了把「抽獎」這個具刺激且興奮的心情詮釋出來。
				</p>

				<p>
					<span class="color-blue p-font-400">舉例：即時回饋問卷系統</span>
					<br> 傳統學生辦活動後，會有幾種方法來收集回饋，期許明年加以改進，大多數不外乎都是發紙本問卷當作回饋表單。這時會遇到兩個常見的問題，第一是沒有人填，第二你不知道他是不是認真填？但是也不可能馬上公布回饋結果因為需要時間統計與分析。<br>於是，我突發奇想能否使用線上表單改善此現象，若是能呈現即時回饋與分析或許還能讓人們更有興趣的認真填寫？
				</p>
			</div>
		</div>

		<div class="section-title">
			<h1 class="col-xs-6 col-md-2 col-md-offset-1">如何思考</h1>
		</div>

		<div class="row">
			<div class="section-content col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
				<ul>
					<li>抽獎的心情是愉悅的、驚喜的、刺激的，不只是畫面要配合，音效也很重要。</li>

					<li class="color-blue">拉霸代表自我掌控命運的感覺，抽卡的方式模擬遊戲式設計，讓人好像真正抽出來的感覺。</li>

					<li>填超過3分鐘的問卷有很大機率造成資料的不準確性</li>

					<li class="color-blue">人們總是喜歡立即性的回饋。</li>
				</ul>
			</div>
		</div>

		<div class="section-title">
			<h1 class="col-xs-6 col-md-2 col-md-offset-1">專案成果</h1>
		</div>

		<div class="row">
			<div id="section-slotMachine" class="section-board col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
				<div id="board-slotMachine" class="board-img" onclick="window.open('https://ncku-ccs.github.io/slotMachine/slot_machine.html');"></div>
				<div class="board-content">
					<h2>神奇抽獎機</h2>
					<p class="color-red-pink">全新體驗的聲光抽獎機</p>
					<br>
					<div class="board-link">
						<a href="https://ncku-ccs.github.io/slotMachine/slot_machine.html" target="_blank">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</a>
						<a href="https://github.com/NCKU-CCS/slotMachine" target="_blank">
							<i class="fa fa-github" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="circle"></div>
			</div>
		</div>

		<div class="row">
			<div id="section-d3ForceSimple" class="section-board col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
				<div id="board-d3ForceSimple" class="board-img" onclick="window.open('https://tsehang.github.io/d3ForceSimple/');"></div>
				<div class="board-content">
					<h2>即時回饋系統</h2>
					<p class="color-red-pink">立即回饋分析的有趣問卷系統</p>
					<br>
					<div class="board-link">
						<a href="https://tsehang.github.io/d3ForceSimple/" target="_blank">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</a>
						<a href="https://github.com/TseHang/d3ForceSimple" target="_blank">
							<i class="fa fa-github" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="circle"></div>
			</div>
		</div>

	</section>

	{{> gogoGuide}}
	{{> footer}}



</body>

{{> js-include}}
<script type="text/javascript" src="dist/js/block-simple-app.js"></script>

<script type="text/javascript">
	$('.gogoGuide').addClass('hover');

	window.setTimeout(function () {
		$('.gogoGuide').removeClass('hover');
	}, 2000);
</script>


</html>