<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> WebExhibition - {{title}}</title>
  <link rel="stylesheet" href = "./dist/css/story.css">
</head>
<body>

	<header>
		<div class="header-content">
			<h1>${header.title}</h1>
			<p class="p-font-400">${header.subTitle}</p>
			<a href="index.html"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
		</div>
	</header>

	<nav>
		<h3>Review 2015</h3>
		<h3>幸福的定義</h3>
	</nav>

	<section>
		<div class="section-title">
			<h1 class="col-xs-6 col-md-2 col-md-offset-1">目標問題</h1>
		</div>

		<div class="row">
			<div class="section-content col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
				<p class="color-blue p-font-400">回顧 2015 所發生的重要事件</p>

				<p class="color-blue p-font-400">想了解從數據上如何看「幸福」</p>
			</div>
		</div>

		<div class="section-title">
			<h1 class="col-xs-6 col-md-2 col-md-offset-1">如何思考</h1>
		</div>
		
		<div class="row">
			<div class="section-content col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
				<ul>
					<li>抽定義出我想傳達的是關於<span class="color-blue">「民生」</span>的重要事件</li>

					<li>利用小王子的故事來述說何謂<span class="color-blue">「幸福」</span></li>

					<li>以 GDP、預期壽命、幸福指數等資料來佐證故事所表達論點</li>
				</ul>
			</div>
		</div>

		<div class="section-title">
			<h1 class="col-xs-6 col-md-2 col-md-offset-1">專案成果</h1>
		</div>

		<div class="row">
			<div class="section-board col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
				<div id="board-slotMachine" class="board-img" onclick="window.open('http://tsehang.github.io/Review2015/#/');"></div>
				<div class="board-content">
					<h2>Review 2015</h2>
					<p class="color-green-pink">回顧2015重大事件</p>
					<br>
					<div class="link">
						<a href="http://tsehang.github.io/Review2015/#/" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
						<a href="https://github.com/TseHang/Review2015" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="circle"></div>
			</div>
		</div>

		<div class="row">
			<div class="section-board col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
				<div id="board-happiness" class="board-img" onclick="window.open('https://www.taiwanstat.com/happiness/#/');"></div>
				<div class="board-content">
					<h2>幸福的定義</h2>
					<p class="color-green-pink">用小王子的故事敘述何謂「幸福」</p>
					<br>
					<div class="link">
						<a href="https://www.taiwanstat.com/happiness/#/" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
						<a href="https://github.com/TseHang/the-happiness" target="_blank" ><i class="fa fa-github" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="circle"></div>
			</div>
		</div>

	</section>

	<footer class="footer">
		{{> block-footer}}
	</footer>


</body>
<script type="text/javascript" src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
<script type="text/javascript" src="dist/js/block-story.js"></script>

</html>