<div class="header-content" onclick="window.location='index.html'">
    <h1>${header.title}</h1>
    <p class="p-font-400">${header.subTitle}</p>
    <a class="icon-back" href="index.html">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    </a>
</div>