<footer id="footer" class="row">
	<div class="col-xs-12 col-md-3 col-md-offset-1 footer-block">
		<a href="mailto:a54383813@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
		<a href="https://www.facebook.com/mengzeh" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
		<a href="https://github.com/TseHang" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
	</div>
	<div class="col-xs-12 col-md-3 col-md-offset-3 footer-block">
		<p>
			<i class="fa fa-copyright"></i>
			Copyright 2017 Meng-Tse, Hang
		</p>
	</div>
</footer>