<div class="gogoGuide" id="gogoGuide">
	<div id="experience" class="pojoro"> ● </div>
	<p class="experience-talk">我是貼心小助手，艾克斯・貝利恩斯！請多多指教 😊</p>
	<div class="experience-icon-home fa-icon"><a href='index.html'><i class="fa fa-home" aria-hidden="true"></i></a></div>
	<div class="experience-icon-close fa-icon"><a><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></div>
	<div class="experience-icon-lists fa-icon"><a><i class="fa fa-bars" aria-hidden="true"></i></a></div>
</div>