<div class="gogoGuide" id="gogoGuide">
	<div id="experience" class="pojoro"> ● </div>
	<p class="experienceTalk">我是貼心小助手，艾克斯・貝利恩斯！請多多指教 😊</p>
	<div class="experience-close"><a><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></div>
</div>