<nav class="menu">
	<ul>
		<li class="list"><a href="3dvr.html"><em>3D ＆ VR</em></a></li>
		<li class="list"><a href="issue.html"><em>深度議題</em></a></li>
		<li class="list"><a href="simple-app.html"><em>有趣小應用</em></a></li>
		<li class="list"><a href="visualization.html"><em>視覺化圖表</em></a></li>
		<li class="list"><a href="story.html"><em>報導故事書</em></a></li>
		<li class="list"><a href="game.html"><em>遊戲</em></a></li>
	</ul>
</nav>