
@mixin traingle-left($color, $width){
  background: transparent;
	border-color: $color transparent transparent $color;
  border-style: solid;
  border-width: $width;
}

@mixin traingle-right($color, $width){
  background: transparent;
	border-color: transparent $color $color transparent;
  border-style: solid;
  border-width: $width;
}


@mixin circle-hollow($color ,$r ,$border-width ){
  width: $r;
  height: $r;
  border: solid $border-width $color;
  border-radius: 100%;
  background: transparent;
}


/*
 * Keyframes
 */
@include keyframes(experienceShow) {
  from{ opacity: 0; transform: scale(0);}
  to{ opacity: 1; transform: scale(1);}
}