#footer{
	min-height: 10%;

  background-color: map-get($color-basic, black-light);
  color: map-get($color-basic, white);
  font-size: $font-size--base * .7;
  text-align: center;
}

.footer-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .8em;
  margin-bottom: .4em;
  
	> a{
    font-size: 2em;
    margin-right: .8em;

    &:hover{
    	opacity: .3;
    }
	}

	> p{
		margin: 0px;
	}
}

@media (min-width: map-get($break-point, table-l)) {
  .footer-block {
    margin-top: auto;
    margin-bottom: auto;
  }
}